@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewBag.HideNavBar = true;
}


<div class="text-center">
    <h1 class="display-4">MegaDesk 3.0</h1>
    <div id="landingpg">
        <form style="display: inline" action="../Quotes/Index" method="get">
            <button type="submit" class="btn btn-primary btn-lg">View Quotes</button>
        </form>
        <form style="display: inline" action="../Quotes/Create" method="get">
            <button type="submit" class="btn btn-primary btn-lg">Add a Quote</button>
        </form>

    </div>
    <img src="~/images/desk.jpg" alt="handmade wood desk" id="welcomeimg" />
</div>