@page
@model MegaDeskWeb.CreateModel

@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>Quote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quote.quoteDate" class="control-label"></label>
                <input asp-for="Quote.quoteDate" class="form-control" value="@(DateTime.Today.Year.ToString() + "-" + DateTime.Today.Month.ToString("00") + "-"
+ DateTime.Today.Day.ToString("00"))" />
                <span asp-validation-for="Quote.quoteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.firstname" class="control-label"></label>
                <input asp-for="Quote.firstname" class="form-control" />
                <span asp-validation-for="Quote.firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.lastname" class="control-label"></label>
                <input asp-for="Quote.lastname" class="form-control" />
                <span asp-validation-for="Quote.lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.width" class="control-label"></label>
                <input asp-for="Quote.width" class="form-control" />
                <span asp-validation-for="Quote.width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.depth" class="control-label"></label>
                <input asp-for="Quote.depth" class="form-control" />
                <span asp-validation-for="Quote.depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Drawers</label>
                <input asp-for="Quote.drawers" class="form-control" id="Drawers" />
                <span asp-validation-for="Quote.drawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.surfaceMaterial" class="control-label"></label>
                <select asp-for="Quote.surfaceMaterial" class="form-control">
                    <option value="oak">Oak</option>
                    <option value="laminate">Laminate</option>
                    <option value="pine">Pine</option>
                    <option value="rosewood">Rosewood</option>
                    <option value="veneer">Veneer</option>
                </select>
                <span asp-validation-for="Quote.surfaceMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.rushDelivery" class="control-label"></label>
                <select asp-for="Quote.rushDelivery" class="form-control">
                    <option value=0>0</option>
                    <option value=3>3</option>
                    <option value=5>5</option>
                    <option value=7>7</option>
                </select>
                <span asp-validation-for="Quote.rushDelivery" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col">
        <table class="imagetable">
            <tr>
                <td>Oak</td>
                <td>Laminate</td>
            </tr>
            <tr>
                <td><img src="~/images/oak.jpg" alt="oak" class="mtlimg" /></td>
                <td><img src="~/images/laminate.jpg" alt="laminate" class="mtlimg" /></td>
            </tr>
            <tr>
                <td>Pine</td>
                <td>Veneer</td>
            </tr>
            <tr>
                <td><img src="~/images/pine.jpg" alt="pine" class="mtlimg" /></td>
                <td><img src="~/images/veneer.jpg" alt="veneer" class="mtlimg" /></td>
            </tr>
            <tr>
                <td>Rosewood</td>
            </tr>
            <tr>
                <td><img src="~/images/rosewood.jpg" alt="rosewood" class="mtlimg" /></td>
            </tr>
        </table>
    </div>
</div>

    <script>

    </script>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
