@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="row">
    <img class="img-fluid rounded mx-auto d-block" src="~/img/church-symbol.jpg" alt="christus statue in arch" />
</div>